html {
    /* font-size: 62.5%; */
    box-sizing: border-box;
    color: tomato;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor-navegacion{
    height: 6rem;
}

#resumen{
    width: 100%;
}
.grupo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.header{
    background-image: url('../img/cocinando.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
}

.header h1{
    color:rgb(43, 32, 19);
}

.cabezera{
    height: 0.3rem;
    width: 100%;
    text-align: center;
}

.navegacion {    
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #921414;
    padding: 2rem;
    list-style: none;
  
}


.navegacion a{
    color: whitesmoke;
    text-decoration: none
}

/* .container-titulo{
    border-radius: 10%;
    
} */
.titulo{
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.664);
}

.container{
    height: 100%;
    width:95%;
    max-width: 120rem;
    margin: 0 auto;
}

.container-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 3%;
    gap: 1rem;
    width: 100%;
    text-align: center;
    background-color: rgba(44, 9, 9, 0.301);
}

.footer{
    text-align: center;
    height: 10rem;
    width: 100%;
}

.logo-footer{
    padding: 3rem;
    width: 20rem;
}

@media(min-width: 260px) {

    .collage{
        width: 11rem;
    }

    .titulo{
        font-size: 1.2rem;     
        padding: 2rem;
    }

    .container-form{
        display: block;
        padding: 2rem;
    }


}



@media(min-width: 460px) {

    .header{
        gap: 3rem;
    }

    .collage{
        width: 20rem;
    }

    .titulo{
        font-size: 1.6rem;     
        padding: 3.5rem;
    }

    .container-form{
        display: block;
        padding: 2rem;
    }

}


@media(min-width: 768px) {
    
    .collage{
        width: 30rem;
    }

    
.titulo{
    padding: 5rem;    
}

    .container-form{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 3rem;
    }
}

@media(min-width: 1200px) {
    
    .contenedor-navegacion{
        height: 3rem;
    }
    
}

/* .form{
    display: flex;
    flex-wrap: wrap;
} */



.contenido{
    background-color: #882e2e;
    padding: 5rem;
}

.resumenDefinitivo{
    display: flex;
    flex-wrap: wrap;
}

.total-pagar{
    background-color: antiquewhite;
    padding: 0.1rem;
    border-radius: 3%;
    text-align: center;
}



.btnEliminar {
    width: 6rem;
    height: 2rem;
}

.btn{
    background-color: #921414;
    cursor: pointer;
    color: antiquewhite;
    cursor: col-resize;
} 

.resumenFinal{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    margin: 0 auto;
    gap: 2rem;
    margin: 0 auto;
    color: #1c351c;
}

/* .resumenFinal p{
    padding: 2rem;
} */

.divResumenFinal{
    display: block;
}

.infoMesa {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.totalAPagar{
    display: block;
    background-color: aliceblue;
    color: #921414;
    text-align: center;
    padding: 1rem;
}

.totalAPagarFinal{
    display: block;
    background-color: aliceblue;
    color: #380c0c;
    text-align: center;
}

.contenedor-boton{
    text-align: center;
    padding: 2rem;
}

#imprimirResumen{
    padding: 0.5rem;
    color: aliceblue;
    background-color: #aa1a1a;
    
}

.infoMesa {
    justify-content: space-between;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* flex-wrap: wrap; */
    gap: 2rem;
}


@media (min-width: 260px) {

    .navegacion {
        font-size: 0.5rem;
    }
    
    .infoMesa {
        display: block;
    }

    .totalFinal{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 2rem;
        background-color: rgb(194, 138, 65);
        color: #1c351c;
    }

    .btnCalcular{
        width: 100%;
        height: 2rem;
    }
}

@media (min-width: 460px) {

    .navegacion {
        font-size: 0.8rem;
    }
    .infoMesa {
    display: block;
    }

    .totalFinal{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 2rem;
        background-color: rgb(194, 138, 65);
        color: #1c351c;
    }

    .btnCalcular{
        width: 100%;
        height: 2rem;
    }
}


@media(min-width: 768px) {
    .infoMesa {
        justify-content: space-between;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        /* flex-wrap: wrap; */
        gap: 2rem;
    }

    .totalFinal{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 6rem;
        height: 2rem;
        background-color: rgb(194, 138, 65);
        color: #1c351c;
    }

    .btnCalcular{
        margin: 0 auto;
        width: 8rem;
        height: 3rem;
    }
    
}