html {
    font-size: 6.12.5%;
    box-sizing: border-box;
    color: tomato;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h2{
    font-size: 1.5rem;
    padding: 2rem;

}

.formulario{
    width: 100%;
    
}

.contenido{
    margin: 0 auto;
    background-color: #880303;
    font-size: 0.9rem;
    padding: 1.5rem;
    color: rgb(11, 7, 2);
}

.btn
.contenedor-nav{
    margin-bottom: 6rem;
    
}

#resumen{
    width: 100%;
    /* margin: 0 auto; */
    font-size: 0.9rem;
}
.grupo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.header{
    background-image: url('../img/cocinando.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
    margin-top: 5rem;
    text-align: center;
}

.header h1{
    color:rgb(43, 32, 19);
}

.header-hide{
    display: none;
}

.cabezera{
    height: 0.3rem;
    width: 100%;
    text-align: center;
}

.navegacion {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4rem;
    /* background-color: #921414; */
    padding: 0.9rem;
    list-style: none;
    background-color: rgba(255, 0, 0, 0.1);

    
}


.navegacion a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.7rem;
     /* margin-top: 120px; */
}

.navegacion a:hover {
    color: #110303;
    transition: color 0.3s; /* Cambia 0.3s al tiempo de transición deseado */
    font-size: 0.73rem;
}

.menus{
    margin-top: 3rem;
}

#entradas,
#pastas{
    margin-top: 120px;
}

.resumen-link{
    background-color: rgba(170, 4, 4, 0.8);
    padding: 0.4rem;
}


/* .container-titulo{
    border-radius: 10%;
    
} */

.title-container{
    margin-top: 2rem;
}

.titulo{
    font-size: 1.1.6rem;
    background-color: rgba(255, 255, 255, 0.664);
}



.container{
    height: 100%;
    width:95%;
    max-width: 120rem;
    margin: 0 auto;
    font-size: 0.9rem;
    text-align: center;
}

.container-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 3%;
    gap: 1rem;
    width: 100%;
    text-align: center;
    background-color: rgba(44, 9, 9, 0.301);
}

.footer{
    text-align: center;
    height: 10rem;
    width: 100%;
}

.logo-footer{
    padding: 3rem;
    width: 20rem;
}

@media(min-width: 260px) {

    .collage{
        width: 11rem;
    }

    .titulo{
        font-size: 1.1.2rem;     
        padding: 2rem;
    }

    .container-form{
        display: block;
        padding: 2rem;
    }


}



@media(min-width: 460px) {

    .header{
        gap: 3rem;
    }

    .collage{
        width: 20rem;
    }

    .titulo{
        font-size: 1.1.6rem;     
        padding: 3.5rem;
    }

    .container-form{
        display: block;
        padding: 2rem;
    }

}


@media(min-width: 768px) {
    
    .collage{
        width: 30rem;
    }

    
.titulo{
    padding: 5rem;    
}

    .container-form{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 3rem;
    }
}

@media(min-width: 1200px) {
    
    .contenedor-navegacion{
        height: 3rem;
    }
    
}

/* .form{
    display: flex;
    flex-wrap: wrap;
} */


/* #resumen */

.resumenDefinitivo{
    display: flex;
    flex-wrap: wrap;
}

.total-pagar{
    background-color: antiquewhite;
    padding: 0.1rem;
    border-radius: 3%;
    text-align: center;
    width: 100%;
    
    font-size: 0.9rem;
}

/* total */

.btnEliminar {
    width: 6rem;
    height: 2rem;
}

.btn{
    background-color: #921414;
    cursor: pointer;
    color: antiquewhite;
    cursor: col-resize;
    font-size: 1.1.3rem;
    margin-top: 1rem;
} 

.resumen{
    width: 100%;
}

.resumenFinal{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    margin: 0 auto;
    gap: 2rem;
    margin: 0 auto;
    color: #1c351c;
}

/* .resumenFinal p{
    padding: 2rem;
} */

.divResumenFinal{
    display: block;
}

.infoMesa {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.totalAPagar{
    display: block;
    background-color: aliceblue;
    color: #921414;
    text-align: center;
    padding: 1rem;
}

.totalAPagarFinal{
    display: block;
    background-color: aliceblue;
    color: #380c0c;
    text-align: center;
}

.contenedor-boton{
    text-align: center;
    padding: 2rem;
}

#imprimirResumen{
    padding: 0.5rem;
    color: aliceblue;
    background-color: #aa1a1a;
    
}

.infoMesa {
    justify-content: space-between;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* flex-wrap: wrap; */
    gap: 2rem;
}


@media (min-width: 260px) {

    .navegacion {
        font-size: 0.1.5rem;
    }
    
    .infoMesa {
        display: block;
    }

    .totalFinal{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 2rem;
        background-color: rgb(194, 138, 65);
        color: #1c351c;
    }

    .btnCalcular{
        width: 100%;
        height: 2rem;
    }
}

@media (min-width: 460px) {

    .navegacion {
        font-size: 0.1.8rem;
    }
    .infoMesa {
    display: block;
    }

    .totalFinal{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 2rem;
        background-color: rgb(194, 138, 65);
        color: #1c351c;
    }

    .btnCalcular{
        width: 100%;
        height: 2rem;
    }
}


@media(min-width: 768px) {
    .infoMesa {
        justify-content: space-between;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        /* flex-wrap: wrap; */
        gap: 2rem;
    }

    .totalFinal{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 6rem;
        height: 2rem;
        background-color: rgb(194, 138, 65);
        color: #1c351c;
    }

    .btnCalcular{
        margin: 0 auto;
        width: 8rem;
        height: 3rem;
    }
    
}